html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Dette kutter brutalt bort alt som prøver å stikke ut på sidene */
}

.hero-section {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1761182784593-0a7b285d7caf?q=80&w=1256&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section h1 {
    position: absolute;

    bottom: 40px;
    left: 50px;

    font-family: 'Arial', sans-serif;
    font-size: 10rem;
    color: black;
    margin: 0;

    z-index: 10;
}

.hero-section header {
    
}